<!--<div class="container">-->
  <!--<h1>Hero Form</h1>-->
  <!--<form>-->
    <!--<div class="form-group">-->
      <!--<label for="name">Name</label>-->
      <!--<input type="text" class="form-control" id="name" required>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="alterEgo">Alter Ego</label>-->
      <!--<input type="text" class="form-control" id="alterEgo">-->
    <!--</div>-->
    <!--<button type="submit" class="btn btn-default">Submit</button>-->
  <!--</form>-->
<!--</div>-->


<div>
  <label>name: </label>
  <input [(ngModel)]="credential.email" placeholder="email" />
  <input [(ngModel)]="credential.password" placeholder="password" />
</div>
<button (click)="login(credential)">Back</button>