<div [ngBusy]="busy" class="container">
  <h3>Login</h3>
  <form class="form" (ngSubmit)="login(credential)" #loginForm="ngForm">

    <div class="form-group">
      <label>Email</label>
      <input type="email"
             name="email"
             class="form-control"
             required
             [(ngModel)]="credential.email"
             #email="ngModel">

      <div *ngIf="email.errors && (email.dirty || email.touched)"
           class="alert alert-danger">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.email">
          Email is not valid
        </div>
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label>Password</label>-->

      <!--<input type="password"-->
             <!--name="password"-->
             <!--class="form-control"-->
             <!--[(ngModel)]="credential.password"-->
             <!--required-->
             <!--#password="ngModel">-->
      <!--<div *ngIf="password.errors && (password.dirty || password.touched)"-->
           <!--class="alert alert-danger">-->
        <!--<div [hidden]="!password.errors.required">-->
          <!--Password is required-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <button class="btn btn-inverse btn-lg btn-login" type="submit"
            [disabled]="!loginForm.form.valid">
      Login
    </button>
  </form>
</div>