<ngb-tabset>
    <ngb-tab title="Events">
        <template ngbTabContent>
            <app-admin-events></app-admin-events>
        </template>
    </ngb-tab>
    <ngb-tab title="Organization">
        <template ngbTabContent>
            <app-admin-organization></app-admin-organization>
        </template>
    </ngb-tab>
    <ngb-tab title="Participants">
        <template ngbTabContent>
            <app-admin-participants></app-admin-participants>
        </template>
    </ngb-tab>
</ngb-tabset>
