<div class="container">

    <div ng-if="!participate.sports || participate.sports.length ===0 && participate.currentUser.role==='user'">
        <alert type="danger" close="closeAlert=1" ng-hide="closeAlert">Contact your Corporate Challange administrators
            to setup events
        </alert>
    </div>
    <div ng-if="!participate.sports || participate.sports.length ===0 && participate.currentUser.role==='admin'">
        <alert type="danger" close="closeAlert=1" ng-hide="closeAlert">Go to "Admin" Tab on the top right corner to
            setup events for your organization
        </alert>
    </div>
    <div ng-if="participate.sports && participate.sports.length !==0">
        <h4>Select event(s) to participate</h4>

        <div class="input-group">
            <div class="col-md-4" ng-repeat="sport in participate.sports">
                <label class="checkbox inline">
                    <input class="checkbox" type="checkbox"
                           ng-model="participate.selectedSports[sport._id]"
                           ng-click="participate.join(sport, participate.selectedSports[sport._id])"/>
                    {{sport.name}}
                </label>

            </div>
        </div>
    </div>
</div>