<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Login</h1>

        </div>
        <div class="col-sm-12">
            <form class="form" name="login.form" ng-submit="login.login(login.form)" novalidate>

                <div class="form-group">
                    <label>Email</label>

                    <input type="email"
                           name="email"
                           class="form-control"
                           ng-model="login.user.email"
                           mongoose-error
                           required>
                </div>

                <div class="form-group">
                    <label>Password</label>

                    <input type="password"
                           name="password"
                           class="form-control"
                           ng-model="login.user.password"
                           required
                           mongoose-error>
                </div>

                <div class="form-group has-error">
                    <div class="help-block"
                         ng-show="login.form.email.$error.required &&
                                  login.form.password.$error.required &&
                                  login.submitted"
                         ng-messages="login.form.email.$error" role="alert">
                        <div ng-message="required">Email is required</div>
                        <div ng-message="mongoose">{{login.errors.email}}</div>
                    </div>
                    <p class="help-block"
                       ng-show="login.form.email.$error.required && login.form.password.$error.required && login.submitted">
                        Please enter your email and password.
                    </p>

                    <p class="help-block" ng-show="login.form.email.$error.email && login.submitted">
                        Please enter a valid email.
                    </p>

                    <p class="help-block">{{ login.errors.other }}</p>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login" type="submit">
                        Login
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/signup">
                        Sign up
                    </a>
                </div>

                <!--
                <hr>

                  <div>
                    <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
                      <i class="fa fa-facebook"></i> Connect with Facebook
                    </a>
                    <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                      <i class="fa fa-google-plus"></i> Connect with Google+
                    </a>
                  </div>
                -->
            </form>
        </div>
    </div>
    <hr>
</div>
