<div ng-if="!adminSports.sports || adminSports.sports.length ===0">
    <button class="btn btn-block"
            ng-click="adminSports.setupSports()">
        Click to set up sports
    </button>
</div>
<div ng-if="adminSports.sports && adminSports.sports.length !==0">
    <h4>Available Sports</h4>
    <ul class="list-group">
        <li class="list-group-item"
            ng-repeat="sport in adminSports.sports"
            ng-class="{'disabled': !sport.enabled}">
            <a href="" ng-if="!sport.enabled"
               ng-click="adminSports.enableSport(sport)">
                <span class="glyphicon glyphicon-plus pull-right"></span>
            </a>
            <a href="" ng-if="sport.enabled"
               ng-click="adminSports.disableSport(sport)">
                <span class="glyphicon glyphicon-minus pull-right"></span>
            </a>
            <strong>{{sport.name}}</strong><br>
            <span class="text-muted">Members: {{sport.members.length}}</span>
        </li>
    </ul>
</div>