/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular2-busy/build/style/busy.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/theme-bootstrap.css";
/*@import "~ag-grid/dist/styles/theme-fresh.css"*/
/*@import "../node_modules/materialize-css/dist/css/materialize.css";*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}