<div [ngBusy]="busy">


<ngb-accordion [closeOthers]="true" activeIds="add-new">

  <ngb-panel id="{{event.name}}" title="{{event.name}}" *ngFor="let event of organization.events">
    <template ngbPanelContent>
      <app-event-form [event]="event"></app-event-form>
    </template>
  </ngb-panel>
  <ngb-panel id="add-new">
    <template ngbPanelTitle>
      Add New
    </template>
    <template ngbPanelContent>
      <app-event-form (onEventChange)="onEventChange($event)"></app-event-form>
    </template>
  </ngb-panel>
</ngb-accordion>
</div>
