<p>
    <ngb-alert [dismissible]="false">
        <strong>You must select an organization</strong>
        <br/>
        Click <a href="/core/dashboard/setup-organization">here</a> if you are the admin for your organization
    </ngb-alert>
</p>

<form class="form" #orgForm="ngForm" (ngSubmit)="selectOrganization(selectedOrganization)">

    <div class="form-group">
        <label>Select your organization</label>

            <select class="form-control"
                    id="organization"
                    class="form-control"
                    name="organization"
                    [(ngModel)]="selectedOrganization"
                    required
                    #organization="ngModel">
                <option *ngFor="let org of availableOrganizations" [value]="org|json">
                    {{org.name}}
                </option>
            </select>
            <div *ngIf="organization.errors && organization.touched"
                 class="alert alert-danger">
                <div [hidden]="!organization.errors.required">
                    Organization selection is required
                </div>
            </div>
    </div>
    <button class="btn btn-inverse btn-lg btn-login" type="submit"
            [disabled]="!orgForm.form.valid">
        Next
    </button>
</form>