<div class="container">
  <h3>Login</h3>
  <form>
    <div class="">
      <div class="input-field col s6">
        <input type="text"
               class="validate"
               id="email"
               name="email"
               required
               [(ngModel)]="credential.email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               required
               [(ngModel)]="credential.password">
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit"
            class="btn  waves-effect waves-light"
            (click)="login(credential)">Login</button>
    <a type="button"
       href="/home"
       class="btn teal lighten-4">
      Cancel
    </a>
  </form>
</div>