/* SUMMARY CARD */

.bootcards-summary .panel-body {
  padding: 7px 25px;
}

.bootcards-summary .panel-body > .row > div {
  padding: 8px;
}

.bootcards-summary-item {
  background: #f5f5f5;
  display: block;
  border-radius: 4px;
  padding: 25px 10px;
  text-align: center;
  position: relative;
  height: 130px;
}

@media (max-width: 400px) {
  .bootcards-summary-item {
    padding: 15px 5px;
  }
}

.bootcards-summary-item:hover {
  text-decoration: none;
  background: #eee;
}

.bootcards-summary-item > i {
  color: #bbb;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.bootcards-summary-item h4 {
  margin: 0 auto;
}

.bootcards-summary-item .badge,
.bootcards-summary-item .label {
  position: absolute;
  top: 10px;
  right: 10px;
}