<div [ngBusy]="busy">
<span *ngIf="currentUser">


      <ngb-alert *ngIf="currentUser.organization.events.length === 0 && currentUser.role === 'admin'" [dismissible]="false">
        <strong>You must add corporate challenge events</strong>
        <br/>
        Click <a routerLink="/core/admin">here</a> to setup your events
      </ngb-alert>

      <ngb-alert *ngIf="currentUser.organization.events.length === 0 && currentUser.role !== 'admin'" type="danger" [dismissible]="false">
        <strong>Contact your administrator to setup events</strong>
      </ngb-alert>

  <span  *ngIf="currentUser.organization.events.length !== 0">

      <div class="card-deck-wrapper">
        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Profile
                <button *ngIf="!editMode"
                        class="pull-right btn btn-sm btn-primary"
                        (click)="edit()">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <button *ngIf="editMode"
                        class="pull-right btn btn-sm btn-link"
                        (click)="cancel()">
                  Cancel
                </button>
                <button *ngIf="editMode"
                        class="pull-right btn btn-sm btn-primary"
                        (click)="save(tempUser)">
                  Save
                </button>
              </h4>
              <span *ngIf="!editMode">
                  <p class="card-text">Name: {{currentUser.name}}</p>
                  <p class="card-text">Email: {{currentUser.email}}</p>
                  <p class="card-text">Phone: {{currentUser.phone}}</p>
                  <p class="card-text">Participant Type: {{currentUser.participantType}}</p>
              </span>
              <form *ngIf="editMode" class="form" #profileForm="ngForm">
                  <div class="form-group row">
                      <label class="col-2 col-form-label">Name</label>
                      <div class="col-10">
                         <input type="text"
                                name="name"
                                class="form-control"
                                [(ngModel)]="tempUser.name"
                                [disabled]="disabled"
                                required/>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-2 col-form-label">Email</label>
                      <div class="col-10">
                         <input type="text"
                                name="email"
                                class="form-control"
                                [(ngModel)]="tempUser.email"
                                required/>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-2 col-form-label">Phone</label>
                      <div class="col-10">
                         <input type="text"
                                name="phone"
                                class="form-control"
                                [(ngModel)]="tempUser.phone"
                                required/>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-4 col-form-label">Participant Type</label>
                      <div class="col-8">
                          <select id="participant"
                                  class="form-control"
                                  name="participant"
                                  [(ngModel)]="tempUser.participantType"
                                  required
                                  #participant="ngModel" >
                        <option value="Employee">Employee</option>
                        <option value="Contractor">Contractor</option>
                        <option value="Retiree">Retiree</option>
                        <option value="Spouse">Spouse</option>
                      </select>
                      </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">Organization</h4>
              <p class="card-text">Name: {{organization.name}}</p>
              <p class="card-text">Division: {{organization.division}}</p>
            </div>
          </div>
        </div>
      </div>

      <br/>
      <h3>Sports
          <span class="pull-right">
            <button class="btn btn-primary" routerLink="/core/events">Add</button>
          </span>
      </h3>
      <ul class="list-group">
          <li class="list-group-item"
              *ngFor="let myEvent of myEvents">
              {{myEvent.name}}
          </li>
      </ul>
  </span>
</span>

</div>