<div class="container">
    <div ng-if="!viewSport.sports || viewSport.sports.length ===0 && viewSport.currentUser.role==='admin' && viewSport.initialized">
        <alert type="danger" close="closeAlert=1" ng-hide="closeAlert">
            Go to "Admin" Tab on the top right corner to setup events for your organization
        </alert>
    </div>

    <div ng-if="!viewSport.sports || viewSport.sports.length ===0 && viewSport.currentUser.role==='user'  && viewSport.initialized">
        <alert type="danger" close="closeAlert=1" ng-hide="closeAlert">
            Contact your Corporate Challange administrators to setup events
        </alert>
    </div>
</div>
<div class="container" ng-if="viewSport.sports.length !==0">
    <h4>Click an event to see the participants</h4>

    <accordion>
        <accordion-group ng-repeat="sport in viewSport.sports">
            <accordion-heading>
                <span style="cursor: pointer;">{{sport.name}}</span>
            </accordion-heading>
            <span>Total Participants: {{sport.members.length}}</span>

            <div class="pull-right">{{viewSport.getCountString(sport.members)}}</div>

            <div ng-if="sport.members.length !== 0">
                <a href="{{viewSport.getEmailList(sport.members)}}">Email Participants</a>

            </div>

            <table ng-if="sport.members.length !== 0" class="table">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>

                </tr>
                <tr ng-repeat="member in sport.members">
                    <td>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.phone}}</td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>