<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Sign up</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="signup.form">

                <div class="form-group" ng-class="{ 'has-success': signup.form.name.$valid && signup.form.name.$touched,
                                            'has-error': signup.form.name.$invalid && signup.form.name.$touched }">
                    <label>Full Name</label>

                    <input type="text" name="name" class="form-control" ng-model="signup.user.name"
                           required/>
                    <div class="help-block"
                         ng-show="signup.form.name.$invalid && signup.form.name.$touched"
                         ng-messages="signup.form.name.$error" role="alert">
                        <div ng-message="required">full name is required</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.gender.$valid && signup.form.gender.$touched,
                                            'has-error': signup.form.gender.$invalid && signup.form.gender.$touched }">

                    <label>Gender</label>

                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="gender" id="genderM"
                                   ng-model="signup.user.gender"
                                   value="M"
                                   ng-required="!signup.user.gender">
                            M
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="gender" id="genderF"
                                   ng-model="signup.user.gender"
                                   value="F"
                                   ng-required="!signup.user.gender">
                            F
                        </label>
                    </div>
                    <div class="help-block"
                         ng-show="signup.form.gender.$invalid && signup.form.gender.$touched"
                         ng-messages="signup.form.gender.$error" role="alert">
                        <div ng-message="required">Gender is required</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.email.$valid && signup.form.email.$touched,
                                            'has-error': signup.form.email.$invalid && signup.form.email.$touched }">
                    <label>Email</label>

                    <input type="email"
                           name="email"
                           class="form-control"
                           ng-model="signup.user.email"
                           required
                           mongoose-error/>

                    <div class="help-block"
                         ng-show="signup.form.email.$invalid && signup.form.email.$touched"
                         ng-messages="signup.form.email.$error" role="alert">
                        <div ng-message="required">Email is required</div>
                        <div ng-message="email">Doesn't look like a valid email</div>
                        <div ng-message="mongoose">{{ signup.errors.email }}</div>
                    </div>
                </div>

                <div class="form-group hidden" ng-class="{ 'has-success': signup.form.password.$valid && signup.form.password.$touched,
                                            'has-error': signup.form.password.$invalid && signup.form.password.$touched }">
                    <label>Password</label>

                    <input type="password"
                           name="password"
                           class="form-control"
                           ng-model="signup.user.password"
                           ng-minlength="3"
                           required
                           mongoose-error/>

                    <div class="help-block"
                         ng-show="signup.form.password.$invalid && signup.form.password.$touched"
                         ng-messages="signup.form.password.$error" role="alert">
                        <div ng-message="minlength">Password must be at least 3 characters</div>
                        <div ng-message="required">Password is required</div>
                        <div ng-message="mongoose">{{ signup.errors.password }}</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.company.$valid && signup.form.company.$touched,
                                            'has-error': signup.form.company.$invalid && signup.form.company.$touched }">
                    <label>Company</label>

                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-control"
                                    ng-model="signup.user.company"
                                    required
                                    name="company"
                                    mongoose-error
                                    ng-options="company._id as company.name for company in signup.companies">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary pull-right hidden"
                                    ng-click="signup.addCompany()">Add Company
                            </button>
                        </div>
                    </div>
                    <div class="help-block"
                         ng-show="signup.form.company.$invalid && signup.form.company.$touched"
                         ng-messages="signup.form.company.$error" role="alert">
                        <div ng-message="required">Company selection is required</div>
                    </div>
                </div>


                <div class="form-group" ng-class="{ 'has-success': signup.form.phone.$valid && signup.form.phone.$touched,
                                            'has-error': signup.form.phone.$invalid && signup.form.phone.$touched }">
                    <label>Phone Number</label>
                    <input type="number"
                           class="form-control"
                           min="0"
                           ng-minlength="10"
                           ng-maxlength="10"
                           id="inputPhone"
                           name="phone"
                           placeholder="1234567890"
                           ng-model="signup.user.phone"
                           ng-required="true"
                           mongoose-error>

                    <div class="help-block"
                         ng-show="signup.form.phone.$invalid && signup.form.phone.$touched"
                         ng-messages="signup.form.phone.$error" role="alert">
                        <div ng-message="required">Valid phone number is required</div>
                        <div ng-message="min max">phone number should be 10 digits</div>
                    </div>

                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.date.$valid && signup.form.date.$touched,
                                            'has-error': signup.form.date.$invalid && signup.form.date.$touched }">
                    <label>Birth year (Required only for Run/Bike/Swim)</label>

                    <input type="number" name="date" class="form-control" ng-model="signup.user.birthday"
                           ng-minlength="4"
                           min="1900"
                           max="2016"
                           mongoose-error/>

                    <div class="help-block"
                         ng-show="signup.form.date.$invalid && signup.form.date.$touched"
                         ng-messages="signup.form.phone.$error" role="alert">
                        <div ng-message="min max">Must be a 4 digits year</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.shirtSize.$valid && signup.form.shirtSize.$touched,
                                            'has-error': signup.form.shirtSize.$invalid && signup.form.shirtSize.$touched }">
                    <label>Shirt Size</label>

                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control"
                                    ng-model="signup.user.shirtSize"
                                    required
                                    name="shirtSize"
                                    ng-options="size for size in signup.availableSize">
                            </select>
                        </div>
                    </div>
                    <div class="help-block"
                         ng-show="signup.form.shirtSize.$invalid && signup.form.shirtSize.$touched"
                         ng-messages="signup.form.shirtSize.$error" role="alert">
                        <div ng-message="required">Shirt size selection is required</div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.participantType.$valid && signup.form.participantType.$touched,
                                            'has-error': signup.form.participantType.$invalid && signup.form.participantType.$touched }">
                    <label>Participant Type</label>

                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-control"
                                    ng-model="signup.user.participantType"
                                    required
                                    name="participantType"
                                    ng-options="type for type in signup.participantTypes">
                            </select>
                        </div>
                    </div>
                    <div class="help-block"
                         ng-show="signup.form.shirtSize.$invalid && signup.form.shirtSize.$touched"
                         ng-messages="signup.form.shirtSize.$error" role="alert">
                        <div ng-message="required">Shirt size selection is required</div>
                    </div>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login"
                            type="submit"
                            ng-click="signup.register(signup.form)">
                        Sign up
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/login">
                        Login
                    </a>
                </div>

            </form>
        </div>
    </div>
    <hr>
</div>
