<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Sign up</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="signup.form" novalidate>

                <div class="form-group" ng-class="{ 'has-success': signup.form.name.$valid && signup.submitted,
                                            'has-error': signup.form.name.$invalid && signup.submitted }">
                    <label>Name</label>

                    <input type="text" name="name" class="form-control" ng-model="signup.user.name"
                           required/>

                    <p class="help-block" ng-show="signup.form.name.$error.required && signup.submitted">
                        A name is required
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.email.$valid && signup.submitted,
                                            'has-error': signup.form.email.$invalid && signup.submitted }">
                    <label>Email</label>

                    <input type="email" name="email" class="form-control" ng-model="signup.user.email"
                           required
                           mongoose-error/>

                    <p class="help-block" ng-show="signup.form.email.$error.email && signup.submitted">
                        Doesn't look like a valid email.
                    </p>

                    <p class="help-block" ng-show="signup.form.email.$error.required && signup.submitted">
                        What's your email address?
                    </p>

                    <p class="help-block" ng-show="signup.form.email.$error.mongoose">
                        {{ signup.errors.email }}
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.password.$valid && signup.submitted,
                                            'has-error': signup.form.password.$invalid && signup.submitted }">
                    <label>Password</label>

                    <input type="password" name="password" class="form-control" ng-model="signup.user.password"
                           ng-minlength="3"
                           required
                           mongoose-error/>

                    <p class="help-block"
                       ng-show="(signup.form.password.$error.minlength || signup.form.password.$error.required) && signup.submitted">
                        Password must be at least 3 characters.
                    </p>

                    <p class="help-block" ng-show="signup.form.password.$error.mongoose">
                        {{ signup.errors.password }}
                    </p>
                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.company.$valid && signup.submitted,
                                            'has-error': signup.form.company.$invalid && signup.submitted }">
                    <label>Company</label>

                    <div class="row">
                        <div class="col-md-10">
                            <select class="form-control"
                                    ng-model="signup.user.company"
                                    required
                                    name="company"
                                    mongoose-error
                                    ng-options="company._id as company.name for company in signup.companies">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary pull-right"
                                    ng-click="signup.addCompany()">Add Company
                            </button>
                        </div>
                    </div>
                    <p class="help-block" ng-show="signup.form.company.$error.required && signup.submitted">
                        Company selection is required
                    </p>

                </div>


                <div class="form-group" ng-class="{ 'has-success': signup.form.phone.$valid && signup.submitted,
                                            'has-error': signup.form.phone.$invalid && signup.submitted }">
                    <label>Phone Number</label>
                    <input type="number"
                           class="form-control"
                           min="0"
                           ng-minlength="10"
                           ng-maxlength="10"
                           id="inputPhone"
                           name="phone"
                           placeholder="1234567890"
                           ng-model="signup.user.phone"
                           ng-required="true"
                           mongoose-error>
                    <span class="help-block"
                          ng-show="(signup.form.phone.$error.required || signup.form.phone.$error.number) && signup.submitted">
                        Valid phone number is required
                    </span>
                    <span class="help-block"
                          ng-show="((signup.form.phone.$error.minlength || signup.form.phone.$error.maxlength) && signup.form.phone.$dirty) && signup.submitted">
                        phone number should be 10 digits
                    </span>


                </div>

                <div class="form-group" ng-class="{ 'has-success': signup.form.date.$valid && signup.submitted,
                                            'has-error': signup.form.date.$invalid && signup.submitted }">
                    <label>Birthday</label>

                    <input type="date" name="date" class="form-control" ng-model="signup.user.birthday"
                           ng-minlength="3"
                           required
                           mongoose-error/>

                    <p class="help-block"
                       ng-show="(signup.form.password.$error.minlength || signup.form.password.$error.required) && signup.submitted">
                        Password must be at least 3 characters.
                    </p>

                    <p class="help-block" ng-show="signup.form.password.$error.mongoose">
                        {{ signup.errors.password }}
                    </p>
                </div>

                <div>
                    <button class="btn btn-inverse btn-lg btn-login"
                            type="submit"
                            ng-click="signup.register(signup.form)">
                        Sign up
                    </button>
                    <a class="btn btn-default btn-lg btn-register" href="/login">
                        Login
                    </a>
                </div>

            </form>
        </div>
    </div>
    <hr>
</div>
