<div class="page-flexbox-wrapper">
    <header>
        <app-navbar></app-navbar>
    </header>
    <main>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>


        <div class="container">
            <div class="section">
                <!--<router-outlet></router-outlet>-->


            </div>
        </div>
    </main>

    <!--<footer class="page-footer">-->
    <!--<div class="container">-->
    <!--<p>Corporate Challenge |-->
    <!--<a href="mailto:jack@jackyen.com">jack@jackyen.com</a> |-->
    <!--<a href="https://github.com/jyen/corporate-challenge/issues">Issues</a></p>-->
    <!--</div>-->
    <!--</footer>-->

    <footer class="footer">
        <div class="container">
          <span class="text-muted">
              <p>Corporate Challenge |
              <a href="mailto:jack@jackyen.com">jack@jackyen.com</a> |
              <a href="https://github.com/jyen/corporate-challenge/issues">Issues</a></p>
          </span>
        </div>
    </footer>

    <!--<footer class="page-footer orange">-->
    <!--<div class="footer-copyright">-->
    <!--<div class="container">-->
    <!--<p>Corporate Challenge |-->
    <!--<a href="mailto:jack@jackyen.com">jack@jackyen.com</a> |-->
    <!--<a href="https://github.com/jyen/corporate-challenge/issues">Issues</a></p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</footer>-->
</div>