<br><br>
<h1 class="header center orange-text">Corporate Challenge</h1>
<div class="row center">
  <h5 class="header col s12 light">Organize your sports teams for Corporate Challenge!</h5>
</div>
<div class="row center">
  <a href="#" class="btn-large waves-effect waves-light orange">Sign Up</a>
</div>
<br><br>

<div class="row center">

  <div class="col s4">
    <!-- Promo Content 1 goes here -->
    Test
  </div>
  <div class="col s4">
    <!-- Promo Content 2 goes here -->
    Test
  </div>
  <div class="col s4">
    <!-- Promo Content 3 goes here -->
    Test
  </div>

</div>
