<div [ngBusy]="busy" class="container">
  <div class="row">
    <div class="col-sm-12">
      <form class="form" #orgForm="ngForm">

        <div class="form-group">
          <label>Event Name</label>
          <input type="text"
                 name="name"
                 class="form-control"
                 [(ngModel)]="event.name"
                 [disabled]="disabled"
                 required/>
        </div>

        <div class="form-group">

          <label>Event Information</label>
          <textarea type="text"
                 name="info"
                 class="form-control"
                 [(ngModel)]="event.info"
                 [disabled]="disabled"
                 required>

          </textarea>
        </div>

        <button *ngIf="!existingEvent"
                class="btn btn-inverse btn-lg btn-login"
                (click)="addEvent(event)"
                [disabled]="!orgForm.form.valid">
          Add
        </button>
        <button *ngIf="existingEvent && disabled"
                class="btn btn-inverse btn-lg btn-login"
                (click)="startEdit()">
          Edit
        </button>
        <button *ngIf="existingEvent && !disabled"
                class="btn btn-inverse btn-lg btn-login"
                (click)="editEvent(event)">
          Save
        </button>
        <button *ngIf="existingEvent"
                class="btn btn-inverse btn-lg btn-login"
                (click)="cancel()">
          Cancel
        </button>
        <!--<a class="btn btn-secondary btn-lg btn-register" (click)="cancel()">-->
          <!--Cancel-->
        <!--</a>-->

      </form>
    </div>
  </div>
  <hr>
</div>